.porilot {
    color: blue;
}

.title {
    color : green !important;
}
/* !important - най вища пріорітетність!!!! */

/* p {
    color: blueviolet;
} */

:root {
    --main-color: red;
}

p {
   color: var(--main-color); 
}