ul {
    list-style-type: none;
}

.pipiai:hover {
    color: red;
    font-size: 18px;
    text-decoration: underline;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.pipiai:focus {
    color: orangered;
}

a:active  {
  background-color: violet;
}